*{
 margin: 0;
 padding: 0;
}
body{
    height: 100vh;
}
.navline{
   display: flex;
    align-items: center;
     justify-content: space-around;
     flex-wrap: nowrap;
    margin: 5px;
    padding: 15px; 
    /* height: 80px; */
    width: 100%;
    border-bottom: 3px solid rgb(244,245,247); 
     border-top: 3px solid rgb(244,245,247);
     gap: 20%;
}


.rabbit{
    height:60px ;
    width: 300px;
    object-fit: cover;
      display: inline-flex;
  align-items: center;
}

.linkstyle{
     text-decoration: none;
}
 .list{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 16px;
   font-weight: 600;
   color: black;
   /* margin: 5px;
   padding: 15px; */

 }
 @media (max-width:400px) {
    .listdiv{
    margin-top: 30%;
    }
    
 }
 
.taskerbutton{
    color: rgb(108,189,229);
     font-family: Arial, Helvetica, sans-serif;
     background-color: white;
     padding: 5px;
     width: 200px;
     font-weight: bolder;
     border-radius: 10px;
     border: 1px solid  skyblue;
     margin: 2%;
}
.taskerbutton:hover{
    color: rgb(123, 186, 211);
    border: 1px solid rgb(123, 186, 211);
}
.languagedropdown{
        color: rgb(108,189,229);
        margin: 5px;
        cursor: pointer;
        padding: 2px;
        margin-left: 15px;
}
.dropdown-menu{
    color: black;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    width: 50px;
}
.herosection{
    background: linear-gradient(skyblue,white,azure);
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height:400px ;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
}
.text{
    margin: 5%;
    width: 700px;
}
span{
    padding: 5px;
   
}
h1 > span{
    position: relative;
    display: inline-block;
    height: 1.25em;
    vertical-align: bottom;
    overflow: hidden;
}
h1 > span > span{
    display: block;
    animation: animatedwords 5s infinite ease;
}
@keyframes animatedwords {
    0% {transform: translateY();}
    25% {transform: translateY(-100%);}
    50% {transform: translateY(-200%);}
    75% {transform: translateY(-300%);}
    100% {transform: translateY(-400%);}
}
h1{
    font-size: 70px;
    color: rgb(76, 97, 136);
    font-weight: 600;
}
.servicebutton{
    padding: 10px;
    color:white ;
    font-weight: 400;
    border-radius: 15px;
    border: 2px solid azure;
    background-color: skyblue;
    position: fixed;
    bottom: 260px;
    left: 430px;
}
 

