*{
 margin: 0;
 padding: 0;
}
.navline{
   /* display: flex; */
    align-items: center;
     justify-content: space-around;
    margin: 5px;
    padding: 10px; 
    height: 80px;
    width: 100%;
    border-bottom: 3px solid rgb(244,245,247); 
     border-top: 3px solid rgb(244,245,247);
     gap: 20%;
}

.rabbit{
    height:60px ;
    width: 260px;
    object-fit: cover;
}

.linkstyle{
     text-decoration: none;
}
 .list{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 16px;
   font-weight: 600;
   color: black;
   margin: 5px;
 }
.taskerbutton{
    color: skyblue;
     font-family: Arial, Helvetica, sans-serif;
     background-color: white;
     padding: 5px;
     width: 200px;
     font-weight: bolder;
     border-radius: 10px;
     border: 1px solid  skyblue;
     margin: 2%;
}
.taskerbutton:hover{
    color: rgb(123, 186, 211);
    border: 1px solid rgb(123, 186, 211);
}
.languagedropdown{
        color: skyblue;
        margin: 5px;
        cursor: pointer;
        padding: 2px;
        margin-left: 15px;
}
.dropdown-menu{
    color: black;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    width: 50px;
}



